In [239]:
import numpy as np
import pandas as pd

In [240]:
data = pd.read_csv("Star9999_raw.csv")
data.head()

   Unnamed: 0  Vmag      Plx   e_Plx     B-V SpType
0           0  9.10     3.54    1.39   0.482     F5
1           1  9.27    21.90    3.10   0.999    K3V
2           2  6.61     2.81    0.63  -0.019     B9
3           3  8.06     7.75    0.97   0.370    F0V
4           4  8.55     2.87    1.11   0.902  G8III

In [241]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9999 non-null   int64
 1   Vmag        9999 non-null   float64
 2   Plx         9999 non-null   object
 3   e_Plx       9999 non-null   object
 4   B-V         9999 non-null   object
 5   SpType      9722 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 468.8+ KB

In [242]:
del data["Unnamed: 0"]
data.dropna(inplace=True)

In [243]:
data.head()

   Vmag      Plx   e_Plx     B-V SpType
0  9.10     3.54    1.39   0.482     F5
1  9.27    21.90    3.10   0.999    K3V
2  6.61     2.81    0.63  -0.019     B9
3  8.06     7.75    0.97   0.370    F0V
4  8.55     2.87    1.11   0.902  G8III

In [244]:
data["Plx"] = data["Plx"].str.strip()
data["B-V"] = data["B-V"].str.strip()
data["e_Plx"] = data["e_Plx"].str.strip()
data["SpType"] = data["SpType"].str.strip()

In [245]:
data.rename(columns={"B-V": "B_V"}, inplace=True)

In [246]:
data = data[(data.Plx != '') & (data.e_Plx != '') & (data.B_V != '') & (data.SpType != '')]

In [247]:
data["Plx"] = data["Plx"].astype("float64")
data["B_V"] = data["B_V"].astype("float64")
data["e_Plx"] = data["e_Plx"].astype("float64")

In [248]:
data = data[(data.Plx > 0)]

In [249]:
data = data.reset_index()
del data["index"]

In [250]:
data.head()

   Vmag    Plx  e_Plx    B_V SpType
0  9.10   3.54   1.39  0.482     F5
1  9.27  21.90   3.10  0.999    K3V
2  6.61   2.81   0.63 -0.019     B9
3  8.06   7.75   0.97  0.370    F0V
4  8.55   2.87   1.11  0.902  G8III

In [251]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9400 entries, 0 to 9399
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Vmag    9400 non-null   float64
 1   Plx     9400 non-null   float64
 2   e_Plx   9400 non-null   float64
 3   B_V     9400 non-null   float64
 4   SpType  9400 non-null   object
dtypes: float64(4), object(1)
memory usage: 367.3+ KB

In [255]:
import re
Type = np.ones(data.shape[0], dtype=int)
for i in range(data.shape[0]):
    val = str(data["SpType"][i])
    if re.search("V",val) or not re.search("I",val):
        Type[i] = 0

In [256]:
data["Type"]=Type

In [257]:
data.head()

   Vmag    Plx  e_Plx    B_V SpType  Type
0  9.10   3.54   1.39  0.482     F5     0
1  9.27  21.90   3.10  0.999    K3V     0
2  6.61   2.81   0.63 -0.019     B9     0
3  8.06   7.75   0.97  0.370    F0V     0
4  8.55   2.87   1.11  0.902  G8III     1

In [258]:
Amag = data["Vmag"].to_numpy() + 5 * (np.log10(data["Plx"].to_numpy()) + 1)

In [259]:
data["Amag"] = Amag

In [260]:
data.head()

   Vmag    Plx  e_Plx    B_V SpType  Type       Amag
0  9.10   3.54   1.39  0.482     F5     0  16.845016
1  9.27  21.90   3.10  0.999    K3V     0  20.972221
2  6.61   2.81   0.63 -0.019     B9     0  13.853532
3  8.06   7.75   0.97  0.370    F0V     0  17.506509
4  8.55   2.87   1.11  0.902  G8III     1  15.839409

In [271]:
data.to_csv(path_or_buf='Stars_preprocessed.csv')